/* General body settings */
body {
  margin: 20px;
  background-color: var(--background);
  color: var(--color);
}

.note-form {
  position: fixed;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  width: 200px; /* Limit the width to 200px */
  margin-top: 20px;
  line-height: 1.6; /* Increase line height for more white space between lines */
  font-size: 18px; /* Increase text size */
}

.note-form button {
  border-radius: 5px;
  background-color: rgb(64, 154, 184);
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
 }

 .form-title {
  width: 190px;
 }

 .form-text {
  width: 190px;
 }
 
 .note-form button:hover {
  background-color: rgb(106, 175, 198);
  cursor: pointer;
 }
 

/* App container */
.app-container {
  display: flex;
  justify-content: center; /* Center the grid horizontally */
  margin-top: 20px;
  margin-left: 200px;
}

/* Notes grid settings */
.notes-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr)); /* 4 columns with a minimum width of 250px */
  gap: 20px; /* Space between the grid items */
  max-width: 1200px; /* Set a maximum width for the entire grid */
  width: 100%; /* Allow the grid to take up the full width of the container */
  padding: 20px; /* Add some padding inside the grid */
}

/* Note item styling */
.note-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px; /* Add more padding inside each note */
  border-radius: 5px;
  background-color: #f9f9f9;
  color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Header inside each note */
.notes-header {
  display: flex;
  justify-content: flex-end;
}

/* Notes header button */
.notes-header button {
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle {
  position: fixed;
  top: 250px;
  left: 0;
  width: 200px;
  height: 400px;
  overflow-y: auto;
  padding: 20px;
}

/* Styling for the liked grid (optional) */
.liked-grid {
  position: fixed;
  top: 400px;
  left: 0;
  width: 200px;
  height: 400px;
  overflow-y: auto;
  padding: 20px;
}